body {
  width: 224px;
  background: #343641;
  height: 250px;
}

h1 {
  border: 1px solid green;
  width: 80%;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  margin: auto;
  text-align: center;
  font-size: 42px;
}

p {
  border: 1px solid red;
  padding: 15px;
  width: 80%;
  margin: auto;
}
