@font-face {
  font-family: "Bruno Ace";
  src: url("/assets/fonts/Bruno_Ace/BrunoAce-Regular.ttf") format("truetype");
}

html {
  background: black;
}

body {
  width: 225px;
  background: -webkit-linear-gradient(200deg, #515353 20%, #1c2023 93%);
  margin: 1px;
}

body .modal {
  height: 100%;
  padding: 10px;
}

/* Three core Modal Sections: h1, form, submit */

h1,
form {
  font-family: "Bruno Ace", cursive;
}

h1 {
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  height: 40px;
}

form {
  height: 160px;
  color: rgb(236, 248, 249);
  border-top: 1px outset black;
  border-bottom: 1px solid outset black;
}

.submit {
  height: 100px;
  margin-top: 20px;
  padding: 0px;
}

/* One "Footer" Section, the Privacy Policy Container */
.policy {
  overflow: hidden;
  transition: height 0.3s ease;
  grid-template-rows: 1fr auto;
  display: grid;
  height: 50px;
}

/* Six Core UI Components: 
Keyword Selector, Highlight Color, Doc Type Selector, 
Privacy Policy Toggler, and Two Submit Buttons. */

form select,
form input,
.submit button,
.policy #toggle,
h1 {
  cursor: pointer;
}

/* Section 2: Form Fields */
form .field {
  height: 47px;
  margin: 3px;
  display: flex;
  align-items: center;
}

form .field label {
  float: left;
  width: 40%;
  font-size: 11px;
}

form .field input[type="color"],
form .field input[type="text"],
select {
  padding: 5px;
  background: rgb(45, 44, 44);
  color: white;
}

form .field input[type="color"],
select {
  width: 60%;
  float: right;
}

form .field input[type="text"] {
  width: 100%;
  font-size: 12px;
}

/* Section 3: Form Submission */
.submit button {
  width: 100%;
  height: 38px;
  border-radius: 5px;
}

.submit button {
  background: -webkit-linear-gradient(200deg, #e50c0c 20%, #a10fd6 93%);
  margin: 3px;
  color: white;
}

.submit .inactive {
  background: transparent;
  cursor: not-allowed;
}

/* Section 4: Privacy Policy Toggle */
.policy #toggle {
  text-align: center;
  background: rgb(45, 44, 44);
  color: rgb(236, 248, 249);
  height: 50px;
}

.policy p {
  display: none;
  margin: 0;
}
